.password-input {
	border: 1px solid hsl(0, 0%, 27%);
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 1rem;

	input {
		border: unset;
		padding: unset;
		border-radius: unset;
	}
}
