.password-input {
	border: 1px solid hsl(0, 0%, 27%);
	border-radius: 0.3rem;
	width: 100%;

	div {
		display: flex;
		align-items: center;

		input {
			border: unset;
			border-radius: unset;
			padding: 0.7rem 0 0.7rem 1rem;
		}
	}
}
