@use "../abstracts" as *;

.password-input {
	border: 1px transparent;
	border-radius: 0.3rem;
	overflow: hidden;
	width: 100%;

	div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		position: relative;

		input {
			border-radius: 0.3rem;
			color: $container-bg;
			padding: 0.7rem 1rem;
		}

		svg {
			bottom: 0.4rem;
			color: #000;
			position: absolute;
			right: 0.4rem;
			width: 30px;
			height: 30px;
		}
	}
}
