@use "../abstracts" as *;

.pill {
  border: 1px solid;
  border-radius: 0.4rem;
  color: $pill-text;
  @include resize(fs-pill);
  padding: 0.4rem 0.7rem;
  text-transform: capitalize;

  &Active {
    background-color: $pill-bg-active;
  }

  &Completed {
    background-color: $pill-bg-completed;
  }
}