@use "../abstracts" as *;

.pill {
  border: 1px solid;
  border-radius: 0.4rem;
  color: $pill-text;
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;

  &Active {
    background-color: $pill-bg-active;
  }
  
  &Completed {
    background-color: $pill-bg-completed;
  }
}