@use "../abstracts" as *;


.styled-select-container {
	position: relative;
	display: inline-block;

	.styled-select {
		appearance: none;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
		outline-color: $btn-color-hover;
		outline-width: 1rem;
		padding: 0.7rem 1rem;
		width: 200px;

		/* Style the options dropdown */
		& option {
			padding: 8px;
		}

		/* Style the selected option */
		& option:checked {
			background-color: #007bff;
			color: #fff;
		}

	}
	svg {
		position: absolute;
		right: 0;
    top: 0.5rem;
    zoom: 55%;
	}
}
