@use "../abstracts" as *;

.single-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .todo-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;

    .circular-checkbox {
      background: transparent;
      border: 2px solid $very-dark-grayish-blue;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      width: 24px;
      height: 24px;
      transition: border-image 0.3s;

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .checkmark {
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      /* Style the checkmark */
      .checkmark:after {
        color: $white;
        content: "\2713";
        /* Unicode checkmark character */
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // apply gradient to checkbox bg
      input:checked~.checkmark {
        background: $check-bg;
      }

      /* Show the checkmark when the checkbox is checked */
      input:checked+.checkmark:after {
        display: block;
      }
    }

    p {
      color: $light-grayish-blue;
      font-size: 0.9rem;
      line-height: unset;
    }
  }

  .delete-todo {
    display: none;

    button {
      color: $light-grayish-blue;
    }
  }

  &:hover .delete-todo {
    display: unset;
  }
}