@use "../abstracts" as *;

.text-btn {
	background: unset;
	border: unset;
	font-size: 0.85rem;
	padding: unset;
	text-align: unset;
	transition: color 250ms;
	text-transform: none;
}

.text-btn:hover,
.text-btn:focus-visible {
	background: unset;
	color: $primary-color;
}
