@use "../abstracts" as *;

.todo-list {
  background-color: $light-dark-blue;
  border-radius: 0.5rem 0.5rem 0 0;

  li {
    border-bottom: 1px solid $very-dark-grayish-blue;
    padding: 1rem;
  }
}