@use "../abstracts" as *;

.user-todos {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    align-self: center;
    color: $white;
  }

  .todo-list-wrapper {
    align-self: center;
    max-width: 30rem;
    width: 100%;

    .todo-list-control {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      p,
      button {
        color: $dark-grayish-blue;
      }

      button:hover {
        color: $white;
      }

      .todo-counter-wrapper {
        background-color: $light-dark-blue;
        border-radius: 0 0 0.5rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        p,
        button {
          font-size: 0.8rem;
        }

        .desktop-control {
          display: none;
        }

        @include media-md {
          .desktop-control {
            display: flex;
            gap: 1rem;
          }

        }

      }

      .control {
        background-color: $light-dark-blue;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        line-height: 1.6;


        button {
          font-size: 0.95rem;
        }

        button.text-btn-selected {
          color: $primary-color;
        }

      }

      .mobile-control {
        padding: 1rem;
      }

      @include media-md {
        .mobile-control {
          display: none;
        }
      }
    }
  }

}