@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 13%);
  overflow-x: hidden;
}

/**
 * Basic styles for links
 */
a {
  color: hsl(339, 100%, 45%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(220, 98%, 61%);
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: capitalize;
}

p {
  line-height: 1.6;
}

input,
textarea {
  border: 1px solid hsl(0, 0%, 27%);
  border-radius: 0.3rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0.7rem 1rem;
  outline: unset;
}

button {
  color: #fff;
  cursor: pointer;
  font: inherit;
}

button:hover,
button:focus-visible {
  background: hsl(220, 68%, 71%);
}

button:disabled {
  background: hsl(185, 53%, 5%);
  cursor: not-allowed;
}

ul {
  list-style-type: none;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Basic typography style for copy text
 */
.form-wrapper {
  background: hsl(233, 24%, 16%);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 3rem 10%;
  padding: 2.5rem 1.5rem 1.5rem;
}
.form-wrapper .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-wrapper .form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-wrapper .form fieldset legend,
.form-wrapper .form fieldset label {
  text-transform: capitalize;
}
.form-wrapper .form fieldset legend {
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.form-wrapper .form fieldset label {
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
}
.form-wrapper .form fieldset label input {
  color: hsl(233, 24%, 16%);
}
.form-wrapper .form .form-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form-wrapper p {
  text-align: center;
}
.form-wrapper p a {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    margin: 4rem auto;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .form-wrapper {
    width: 30%;
  }
}
@media screen and (min-width: 2560px) {
  .form-wrapper {
    width: 15%;
  }
}
.btn {
  background: hsl(220, 78%, 61%);
  border: 0.1em solid hsl(220, 68%, 71%);
  border-radius: 0.5rem;
  outline: 1rem hsl(220, 78%, 61%);
  padding: 0.75rem 2rem;
  transition: background-color 250ms;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.btn > span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;
  background: transparent;
  opacity: 0.5;
}

.btn > :first-child {
  left: 0;
  top: 0;
}

.btn > :last-child {
  right: 0;
  top: 0;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(220, 78%, 61%);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: transform 1300ms 200ms, opacity 200ms;
}

.btn:active::before {
  transform: scale(25);
  opacity: 1;
  transition: transform 1300ms, opacity 500ms;
}

.btn:has(:first-child:active)::before {
  margin-left: 0;
}

.btn:has(:last-child:active)::before {
  margin-right: 0;
}

.btn:has(:first-child:active)::before,
.btn:has(:last-child:active)::before {
  transition: transform 800ms, opacity 250ms;
}

.create-todo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .create-todo > * {
    margin: 0 auto;
  }
}
.create-todo h2 {
  color: hsl(0, 0%, 100%);
}
.create-todo form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  text-transform: capitalize;
}
.create-todo form label {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-weight: 600;
}
.create-todo form label input,
.create-todo form label textarea {
  background-color: hsl(235, 21%, 11%);
}

.password-input {
  border: 1px transparent;
  border-radius: 0.3rem;
  overflow: hidden;
  width: 100%;
}
.password-input div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: relative;
}
.password-input div input {
  border-radius: 0.3rem;
  color: hsl(233, 24%, 16%);
  padding: 0.7rem 1rem;
}
.password-input div svg {
  bottom: 0.8rem;
  color: #000;
  position: absolute;
  right: 1rem;
}

.recipe-card {
  background: #fff;
  border: 1px transparent;
  border-radius: 0.3rem;
  box-shadow: 3px 11px 18px -2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 3px 11px 18px -2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 3px 11px 18px -2px rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 15.625rem;
  width: 100%;
}
.recipe-card .image-wrapper {
  width: 100%;
  height: 140px;
}
.recipe-card .image-wrapper img {
  border-radius: 0.3rem 0.3rem 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-card .content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  text-transform: capitalize;
}
.recipe-card .content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-card .content p span,
.recipe-card .content ul span {
  font-weight: 600;
}
.recipe-card .content ul {
  list-style-type: decimal;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.styled-select-container {
  background: hsl(233, 24%, 16%);
  border: 1px solid hsl(0, 0%, 27%);
  border-radius: 0.3rem;
  display: flex;
  line-height: 3;
  overflow: hidden;
  padding: 0.7rem 0.3rem;
  position: relative;
  width: 12rem;
}
.styled-select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: hsl(233, 24%, 16%);
  background-image: none;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  flex: 1;
  outline: 0;
  padding-left: 0.5rem;
  width: 100%;
}
.styled-select-container select::-ms-expand {
  display: none;
}
.styled-select-container::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease-in-out;
}
.styled-select-container:hover::after {
  color: hsl(220, 78%, 61%);
}

.single-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-todo .todo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.single-todo .todo-wrapper .circular-checkbox {
  background: transparent;
  border: 2px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  /* Style the checkmark */
  /* Show the checkmark when the checkbox is checked */
}
.single-todo .todo-wrapper .circular-checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.single-todo .todo-wrapper .circular-checkbox .checkmark {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-todo .todo-wrapper .circular-checkbox .checkmark:after {
  color: hsl(0, 0%, 100%);
  content: "✓";
  /* Unicode checkmark character */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-todo .todo-wrapper .circular-checkbox .checkmark:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(45deg, red, blue);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-composite: exclude;
  opacity: 0;
  transition: background 1500ms ease-in-out;
}
.single-todo .todo-wrapper .circular-checkbox:hover input:not(:checked) ~ .checkmark::before {
  opacity: 1;
}
.single-todo .todo-wrapper .circular-checkbox input:checked ~ .checkmark {
  background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Customize the gradient colors */
}
.single-todo .todo-wrapper .circular-checkbox input:checked + .checkmark:after {
  display: block;
}
.single-todo .todo-wrapper p {
  color: hsl(234, 39%, 85%);
  font-size: 0.9rem;
  line-height: unset;
}
.single-todo .edit-todo button {
  color: hsl(233, 14%, 35%);
}

.text-btn {
  background: unset;
  border: unset;
  font-size: 0.85rem;
  padding: unset;
  text-align: unset;
  transition: color 250ms;
  text-transform: unset;
}

.text-btn:hover,
.text-btn:focus-visible {
  background: unset;
  color: hsl(220, 98%, 61%);
}

.todo-list {
  background-color: hsl(235, 21%, 21%);
  border-radius: 0.5rem 0.5rem 0 0;
}
.todo-list li {
  border-bottom: 1px solid hsl(233, 14%, 35%);
  padding: 1rem;
}

.user-todos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.user-todos .todo-list-wrapper {
  align-self: center;
  max-width: 30rem;
  width: 100%;
}
.user-todos .todo-list-wrapper .todo-list-control {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.user-todos .todo-list-wrapper .todo-list-control p,
.user-todos .todo-list-wrapper .todo-list-control button {
  color: hsl(234, 11%, 52%);
}
.user-todos .todo-list-wrapper .todo-list-control button:hover {
  color: hsl(0, 0%, 100%);
}
.user-todos .todo-list-wrapper .todo-list-control .todo-counter-wrapper {
  background-color: hsl(235, 21%, 21%);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.user-todos .todo-list-wrapper .todo-list-control .todo-counter-wrapper p,
.user-todos .todo-list-wrapper .todo-list-control .todo-counter-wrapper button {
  font-size: 0.8rem;
}
.user-todos .todo-list-wrapper .todo-list-control .mobile-control {
  background-color: hsl(235, 21%, 21%);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  line-height: 1.6;
  padding: 1rem;
}
.user-todos .todo-list-wrapper .todo-list-control .mobile-control button {
  font-size: 0.95rem;
}
.user-todos .todo-list-wrapper .todo-list-control .mobile-control button:focus {
  color: hsl(220, 98%, 61%);
}

.navbar {
  color: hsl(0, 0%, 100%);
  padding: 1rem 0.75rem;
}
.navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-container .logo {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.navbar .navbar-container .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .navbar-container .menu .menu-item {
  margin-left: 20px;
}
.navbar .navbar-container .menu .menu-item a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-container .menu .menu-item a:hover, .navbar .navbar-container .menu .menu-item a.active {
  color: hsl(220, 98%, 61%);
}
.navbar .navbar-container .menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .navbar-container .menu-icon span {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 3px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.navbar .navbar-container .menu-icon span:first-child {
  transform-origin: top left;
}
.navbar .navbar-container .menu-icon span:last-child {
  transform-origin: bottom left;
}
@media (max-width: 767px) {
  .navbar .navbar-container .menu {
    display: none;
    flex-direction: column;
    padding: 1rem 0.75rem;
    background-color: hsla(235, 21%, 11%, 0.9);
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
  }
  .navbar .navbar-container .menu.open {
    display: flex;
    gap: 1rem;
    z-index: 99;
  }
  .navbar .navbar-container .menu .menu-item {
    margin-left: unset;
  }
  .navbar .navbar-container .menu .menu-item a {
    color: hsl(0, 0%, 100%);
    text-align: center;
  }
  .navbar .navbar-container .menu-icon {
    display: flex;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-container .menu {
    display: flex;
  }
  .navbar .navbar-container .menu .menu-item {
    margin-left: 20px;
  }
  .navbar .navbar-container .menu .menu-item a {
    color: hsl(0, 0%, 100%);
  }
  .navbar .navbar-container .menu-icon {
    display: none;
  }
}

.layout-container {
  background-image: url("src/assets/bg-mobile-dark.jpg"), linear-gradient(45deg, hsl(235, 21%, 11%) 0%, hsl(235, 21%, 11%) 13%, hsl(235, 21%, 11%) 25%, hsl(235, 21%, 11%) 37%, hsl(235, 21%, 11%) 50%, hsl(235, 21%, 11%) 63%, hsl(235, 21%, 11%) 75%, hsl(235, 21%, 11%) 87%, hsl(235, 21%, 11%) 100%);
  background-size: 100% 30%, auto;
  background-repeat: no-repeat;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .layout-container {
    background-image: url("src/assets/bg-desktop-dark.jpg"), linear-gradient(45deg, hsl(235, 21%, 11%) 0%, hsl(235, 21%, 11%) 13%, hsl(235, 21%, 11%) 25%, hsl(235, 21%, 11%) 37%, hsl(235, 21%, 11%) 50%, hsl(235, 21%, 11%) 63%, hsl(235, 21%, 11%) 75%, hsl(235, 21%, 11%) 87%, hsl(235, 21%, 11%) 100%);
  }
}
.animated-wrapper {
  padding: 2rem 0.75rem;
}

.home {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
}/*# sourceMappingURL=main.css.map */